.button {
	border-radius: $border-radius;
	height: 2.5rem;

	width: auto;
	cursor: pointer;
	transition: transform $transition, letter-spacing $transition;

	&:hover,
	&:focus {
		transform: scaleX(1.05);
		letter-spacing: 0.5px;
	}
}

.button--blue {
	background-color: $colorPrimary;
	color: white;
	font-size: x-large;
	border: none;
}

.button--login {
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 49%;
	font-size: larger;
	color: $colorDark;
	border: $border-input;
	padding: 0;
	margin-top: 5px;

	@include breakpoint-down(small) {
		width: 80%;
	}
}
