//colors
$colorPrimary: #47bfef;
$colorDark: darkslategrey;

$border-radius: 20px;
$border-input: 1px solid rgba(115, 15, 15, 0.3);
//$border-input: 1px solid rgba(71, 191, 239, 0.3);
$transition: 0.5s ease-in-out;

$breakpoints-down: (
	"xs": "500",
	"small": "850px",
	"medium": "1250px",
	"large": "1400px",
);

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
}
