@import "variables";
@import "button";
@import "form";

body {
	color: $colorDark;
}

p {
	text-align: center;
	font-size: large;
}

a {
	font-size: large;
	transition: letter-spacing $transition;
	&:hover,
	&:focus {
		letter-spacing: 1px;
	}
}

.container {
	width: 100vw;
	height: 100vh;
	background-image: url("../imgs/wave1.svg");
	background-repeat: repeat-x;
	background-position: 0 -32vh;
	background-size: cover;
	transition: background-image $transition;
	animation: wave 15s ease-in-out 0s infinite alternate;

	@include breakpoint-down(large) {
		background-position: 0 -30vh;
		animation: waveLarge 10s linear 0s infinite alternate;
	}
	@include breakpoint-down(medium) {
		background-position: -300px -20vh;
		background-image: url("../imgs/waveMobile.svg");
		animation: waveMedium 10s ease-in-out 0s infinite alternate;
	}

	@include breakpoint-down(small) {
		background-image: url("../imgs/waveMobile.svg");
		background-position: -300px -20vh;
		animation: waveSmall 10s ease-in-out 0s infinite alternate;
	}

	& .header {
		width: 100vw;
		height: 30%;
		display: flex;
		align-items: center;
		justify-content: center;
		perspective: 1000px;

		//background: $colorPrimary;

		// clip-path: polygon(
		// 	0% 0%,
		// 	0 75%,
		// 	5% 74%,
		// 	9% 73%,
		// 	13% 72%,
		// 	17% 71%,
		// 	22% 69%,
		// 	26% 67%,
		// 	32% 65%,
		// 	36% 64%,
		// 	42% 64%,
		// 	47% 66%,
		// 	53% 70%,
		// 	57% 73%,
		// 	64% 76%,
		// 	70% 76%,
		// 	77% 74%,
		// 	84% 71%,
		// 	91% 67%,
		// 	95% 65%,
		// 	100% 61%,
		// 	100% 0%
		// );

		& #logo {
			transform-origin: center;
			transition: transform $transition;
			//pointer-events: auto;
			&:hover {
				transform: rotate3d(0, -1, -1, 360deg) scale(0.5);
			}

			@include breakpoint-down(xs) {
				height: 100px;
				width: auto;
			}
		}
	}

	.bottom_container {
		width: 100vw;
		height: calc(70vh - 2rem);
		display: grid;
		justify-content: center;

		& .main_wrapper {
			width: 25vw;
			height: 85%;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: 2fr 1fr 1fr 1fr;
			//row-gap: 5px;
			align-items: stretch;

			@include breakpoint-down(medium) {
				width: 50vw;
			}

			@include breakpoint-down(small) {
				width: 100vw;
				height: 90%;
			}

			& .or {
				grid-row: 2/2;
				align-self: center;
			}

			& .section_login {
				grid-row: 3/3;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;

				@include breakpoint-down(small) {
					flex-direction: column;
				}
			}

			& .section_registration {
				grid-row: 4/4;
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 2rem;
				justify-content: center;

				@include breakpoint-down(medium) {
					justify-content: center;
				}

				& p {
					border-right: 1px solid black;
					padding: 0.5rem;
				}

				& a {
					padding-left: 0.5rem;
					color: $colorPrimary;
				}
			}
		}
	}
}

@keyframes wave {
	0% {
		background-position: 0 -32vh;
	}

	50% {
		background-position: 100% -36vh;
	}

	100% {
		background-position: 0 -32vh;
	}
}
@keyframes waveLarge {
	0% {
		background-position: 0 -30vh;
	}

	50% {
		background-position: 50% -35vh;
	}

	100% {
		background-position: 0 -30vh;
	}
}

@keyframes waveMedium {
	0% {
		background-position: -200px -200px;
	}

	50% {
		background-position: -1200px -300px;
	}

	100% {
		background-position: -200px -200px;
	}
}

@keyframes waveSmall {
	0% {
		background-position: -200px -8vh;
	}

	50% {
		background-position: -1200px -30vh;
	}

	100% {
		background-position: -200px -8vh;
	}
}
