@import "variables";
@import "button";
@import "form";

body {
	color: $colorDark;
}

p {
	text-align: center;
	font-size: large;
}

a {
	font-size: large;
}

.container {
	width: 100vw;
	height: 100vh;

	& .header {
		width: 100vw;
		height: 30%;

		display: flex;
		align-items: flex-start;
		justify-content: center;
		background: $colorPrimary;

		clip-path: polygon(
			0% 0%,
			0 75%,
			5% 74%,
			9% 73%,
			13% 72%,
			17% 71%,
			22% 69%,
			26% 67%,
			32% 65%,
			36% 64%,
			42% 64%,
			47% 66%,
			53% 70%,
			57% 73%,
			64% 76%,
			70% 76%,
			77% 74%,
			84% 71%,
			91% 67%,
			95% 65%,
			100% 61%,
			100% 0%
		);
	}

	.bottom_container {
		width: 100vw;
		height: calc(70vh - 2rem);
		display: grid;
		justify-content: center;

		& .main_wrapper {
			width: 25vw;
			height: 100%;
			//background: red;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: 3fr 1fr 1.5fr 1fr;
			row-gap: 5px;
			align-items: stretch;

			@include breakpoint-down(medium) {
				width: 50vw;
			}

			@include breakpoint-down(small) {
				width: 100vw;
			}

			& .or {
				align-self: center;
			}

			& .section_login {
				grid-row: 3/3;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;

				@include breakpoint-down(small) {
					flex-direction: column;
				}
			}

			& .section_registration {
				grid-row: 4/4;
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 2rem;

				@include breakpoint-down(medium) {
					justify-content: center;
				}

				& p {
					border-right: 1px solid black;
					padding: 0.5rem;
				}

				& a {
					padding-left: 0.5rem;
					color: $colorPrimary;
				}
			}
		}
	}
}
