.button {
  border-radius: 20px;
  height: 2.5rem;
  width: auto;
  cursor: pointer;
  -webkit-transition: letter-spacing 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: letter-spacing 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, letter-spacing 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.button:hover, .button:focus {
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
  letter-spacing: 0.5px;
}

.button--blue {
  background-color: #47bfef;
  color: white;
  font-size: x-large;
  border: none;
}

.button--login {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 49%;
  font-size: larger;
  color: darkslategrey;
  border: 1px solid rgba(115, 15, 15, 0.3);
  padding: 0;
  margin-top: 5px;
}

@media (max-width: 850px) {
  .button--login {
    width: 80%;
  }
}

.form_wrapper {
  -ms-grid-row: 1;
  grid-row: 1/1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input {
  width: 100%;
  height: 2.5rem;
  border-radius: 20px;
  border: 1px solid rgba(115, 15, 15, 0.3);
  padding-left: 4rem;
  outline: none;
}

form input::-webkit-input-placeholder {
  color: transparent;
}

form input:-ms-input-placeholder {
  color: transparent;
}

form input::-ms-input-placeholder {
  color: transparent;
}

form input::placeholder {
  color: transparent;
}

form input:focus, form input:hover {
  border: none;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 191, 239, 0.3);
          box-shadow: 0 0 0 2px rgba(71, 191, 239, 0.3);
}

form label {
  display: block;
  font-size: large;
  -webkit-transform: translateY(-2.2rem);
          transform: translateY(-2.2rem);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  padding-left: 1rem;
  padding-top: 5px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

form input:focus + label,
form input:not(:placeholder-shown) + label {
  -webkit-transform: translateY(-2.3rem) scale(0.7);
          transform: translateY(-2.3rem) scale(0.7);
}

.password_forgotten {
  text-decoration: none;
  color: #47bfef;
  margin-top: 1rem;
}

body {
  color: darkslategrey;
}

p {
  text-align: center;
  font-size: large;
}

a {
  font-size: large;
  -webkit-transition: letter-spacing 0.5s ease-in-out;
  transition: letter-spacing 0.5s ease-in-out;
}

a:hover, a:focus {
  letter-spacing: 1px;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../imgs/wave1.svg");
  background-repeat: repeat-x;
  background-position: 0 -32vh;
  background-size: cover;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
  -webkit-animation: wave 15s ease-in-out 0s infinite alternate;
          animation: wave 15s ease-in-out 0s infinite alternate;
}

@media (max-width: 1400px) {
  .container {
    background-position: 0 -30vh;
    -webkit-animation: waveLarge 10s linear 0s infinite alternate;
            animation: waveLarge 10s linear 0s infinite alternate;
  }
}

@media (max-width: 1250px) {
  .container {
    background-position: -300px -20vh;
    background-image: url("../imgs/waveMobile.svg");
    -webkit-animation: waveMedium 10s ease-in-out 0s infinite alternate;
            animation: waveMedium 10s ease-in-out 0s infinite alternate;
  }
}

@media (max-width: 850px) {
  .container {
    background-image: url("../imgs/waveMobile.svg");
    background-position: -300px -20vh;
    -webkit-animation: waveSmall 10s ease-in-out 0s infinite alternate;
            animation: waveSmall 10s ease-in-out 0s infinite alternate;
  }
}

@media (max-width: 801px) and (orientation: landscape) {
  .container {
    background-image: url("../imgs/wave1.svg");
    background-position: -300px -10vh;
    -webkit-animation: waveLandscape 10s ease-in-out 0s infinite alternate;
            animation: waveLandscape 10s ease-in-out 0s infinite alternate;
  }
}

.container .header {
  width: 100vw;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.container .header #logo {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.container .header #logo:hover {
  -webkit-transform: rotate3d(0, -1, -1, 360deg) scale(0.5);
          transform: rotate3d(0, -1, -1, 360deg) scale(0.5);
}

@media (max-width: 500) {
  .container .header #logo {
    height: 100px;
    width: auto;
  }
}

@media (max-width: 801px) and (orientation: landscape) {
  .container .header #logo {
    height: 80px;
    width: auto;
  }
}

.container .bottom_container {
  width: 100vw;
  height: calc(70vh - 2rem);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .bottom_container .main_wrapper {
  width: 25vw;
  height: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 2fr 1fr 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr 1fr;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 1250px) {
  .container .bottom_container .main_wrapper {
    width: 50vw;
  }
}

@media (max-width: 850px) {
  .container .bottom_container .main_wrapper {
    width: 100vw;
    height: 90%;
  }
}

.container .bottom_container .main_wrapper .or {
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .bottom_container .main_wrapper .section_login {
  -ms-grid-row: 3;
  grid-row: 3/3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  .container .bottom_container .main_wrapper .section_login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .bottom_container .main_wrapper .section_registration {
  -ms-grid-row: 4;
  grid-row: 4/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1250px) {
  .container .bottom_container .main_wrapper .section_registration {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .bottom_container .main_wrapper .section_registration p {
  border-right: 1px solid black;
  padding: 0.5rem;
}

.container .bottom_container .main_wrapper .section_registration a {
  padding-left: 0.5rem;
  color: #47bfef;
}

@-webkit-keyframes wave {
  0% {
    background-position: 0 -32vh;
  }
  50% {
    background-position: 100% -36vh;
  }
  100% {
    background-position: 0 -32vh;
  }
}

@keyframes wave {
  0% {
    background-position: 0 -32vh;
  }
  50% {
    background-position: 100% -36vh;
  }
  100% {
    background-position: 0 -32vh;
  }
}

@-webkit-keyframes waveLarge {
  0% {
    background-position: 0 -30vh;
  }
  50% {
    background-position: 50% -35vh;
  }
  100% {
    background-position: 0 -30vh;
  }
}

@keyframes waveLarge {
  0% {
    background-position: 0 -30vh;
  }
  50% {
    background-position: 50% -35vh;
  }
  100% {
    background-position: 0 -30vh;
  }
}

@-webkit-keyframes waveMedium {
  0% {
    background-position: -200px -200px;
  }
  50% {
    background-position: -1200px -300px;
  }
  100% {
    background-position: -200px -200px;
  }
}

@keyframes waveMedium {
  0% {
    background-position: -200px -200px;
  }
  50% {
    background-position: -1200px -300px;
  }
  100% {
    background-position: -200px -200px;
  }
}

@-webkit-keyframes waveSmall {
  0% {
    background-position: -200px -8vh;
  }
  50% {
    background-position: -1200px -30vh;
  }
  100% {
    background-position: -200px -8vh;
  }
}

@keyframes waveSmall {
  0% {
    background-position: -200px -8vh;
  }
  50% {
    background-position: -1200px -30vh;
  }
  100% {
    background-position: -200px -8vh;
  }
}

@-webkit-keyframes waveLandscape {
  0% {
    background-position: -200px 0vh;
  }
  50% {
    background-position: -1000px -18vh;
  }
  100% {
    background-position: -200px 0;
  }
}

@keyframes waveLandscape {
  0% {
    background-position: -200px 0vh;
  }
  50% {
    background-position: -1000px -18vh;
  }
  100% {
    background-position: -200px 0;
  }
}
/*# sourceMappingURL=App.css.map */